@import './base/vars';
@import './base/mixins';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sen;
}

.main-title {
  font-size: 56px;
  font-weight: 700;
  font-family: $sen;
  line-height: 64 / 56 * 100%;
  letter-spacing: -2px;
}

.title-1,
.title-2,
.title-3,
.title-4,
.title-5,
.title-6 {
  font-weight: 700;
}

.title-1 {
  font-size: 48px;
  line-height: 64 / 48 * 100%;
  letter-spacing: -2px;
}

.title-2 {
  font-size: 36px;
  line-height: 48 / 36 * 100%;
  letter-spacing: -2px;
}

.title-3 {
  font-size: 28px;
  line-height: 40 / 28 * 100%;
  letter-spacing: -1px;
}

.title-4 {
  font-size: 24px;
  line-height: 32 / 24 * 100%;
}

.title-5 {
  font-size: 20px;
  line-height: 32 / 20 * 100%;
}

.title-6 {
  font-size: 16px;
  line-height: 24 / 16 * 100%;
}

// text

.body-1,
.body-2 {
  font-family: $inter;
}

.body-1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 28 / 16 * 100%;
}

.body-2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20 / 14 * 100%;
}

.label {
  font-size: 14px;
  font-weight: 500;
  font-family: $inter;
  line-height: 20 / 14 * 100%;
}

.cap {
  font-size: 16px;
  font-weight: 600;
  font-family: $inter;
  line-height: 20 / 16 * 100%;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.cap-3 {
  font-size: 16px;
  font-weight: 500;
  font-family: $inter;
  line-height: 20 / 16 * 100%;
  letter-spacing: 3px;
  text-transform: uppercase;
}

// text