// Font family
$inter: 'Inter', sans-serif;
$sen: 'Sen', sans-serif;
// Font family

// Color
$black: #232536;
$yellow: #FFD050;
$purple: #592EA9;
$darkGrey: #4C4C4C;
$mediumGrey: #6D6E76;
$lightGrey: #F4F4F4;
$lavender: #F4F0F8;
$lightYellow: #FBF6EA;
$light: #ffffff;
// Color